<div class=" min-w-screen">

    <header class="w-full" id="navbar">
        <div class="flex justify-between items-center py-4">
            <p class="text-4xl text-blue-900 font-black">
                <%= link_to "Stimulus Wine Club", root_path %>
            </p>
            <ul class="flex">
                <% if user_signed_in? %>
                <li class="px-2">
                    <%= link_to current_user.username, "/users/#{current_user.id}" %>
                </li>
                <li class="px-2">
                    <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
                </li>
                <% else %>
                <li class="px-2">
                    <%= link_to "Sign Up", '/users/sign_up' %>
                </li>
                <li class="px-2">
                    <%= link_to "Log In", '/users/sign_in' %>
                </li>
                <%end%>
            </ul>
        </div>
    </header>
</div>