<div class="border border p-4">
<h2 class="text-xl mb-4">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border p-2 my-2 w-full" %>
  </div>

  <div class="actions flex justify-center my-4">
    <%= f.submit "Send me reset password instructions", class: "bg-blue-200 px-8 py-1 rounded" %>
  </div>
<% end %>
<div class="flex justify-around">
<%= render "devise/shared/links" %>
</div>
</div>