<div>
    <h1 class="text-2xl border-b mb-8">Wines to Try:</h1>


    <div class="flex flex-col">
        <% @posts.each do |post| %>
        <div class="flex items-around w-3/4">
            <div class="w-1/2">
                <div>
                    <p class="font-bold">Name:</p>
                    <%= post.name %>
                </div>
                <div>
                    <p class="font-bold">Description:</p>
                    <%= post.description %>
                </div>
                <div>
                    <p class="font-bold">Price:</p>
                    $<%= post.price %>
                </div>
                <div>
                    <p class="font-bold">Posted on:</p>
                    <%= post.created_at.to_formatted_s(:short) %>

                </div>
                <div>
                    <p class="font-bold">Connoisseur:</p>
                    <a href=<%="/users/#{post.user_id}"%>>
                        <%= User.find(post.user_id).username %>
                        <img src=<%=User.find(post.user_id).avatar.url %> alt=<%= User.find(post.user_id).username %> class="w-12 rounded-full">
                    </a>
                </div>

            </div>
            <div class="w-1/2">
                <a href=<%= "/posts/#{post.id}" %>>
                    <img src=<%= post.image %> class="object-contain h-60 w-full rounded" />
                </a>
            </div>
        </div>
        <div class="flex justify-center">
            <hr class="w-1/4 my-4" />
        </div>
        <% end %>

    </div>

    <br>
    <div class="flex justify-center">
        <%= link_to 'New Post', new_post_path, class: "text-2xl bg-blue-100 px-6 py-1" %>
    </div>
</div>