<!DOCTYPE html>
<html>

<head>
    <title>WineClub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <%= render partial: 'partials/header' %>
    <div class="flex">
        <% if @user%>
        <%= render partial: 'partials/side_bar' %>
        <% end %>
        <main class="m-8">
            <%= yield %>
        </main>
    </div>
</body>

</html>